<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <header>
        <div class="container">
            <a href="{{url_for('evento.index')}}" class="logo">Eventos+</a>

            <nav>
                <a href="{{url_for('evento.index')}}">Início</a>
                <a href="{{url_for('evento.eventos')}}">Eventos</a>
                <a href="{{url_for('evento.cadastrar')}}">Cadastrar</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block conteudo %}{% endblock conteudo %}
    </main>

    <footer>
        <p>© 2026 Eventos+</p>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>