{% extends "base.html" %}

{% block title %}Eventos+ | Detalhes{% endblock title %}

{% block conteudo %}

    <a href="{{url_for('evento.eventos')}}">← Voltar</a>

    <article class="detalhes">

        <h1>{{evento.nome}}</h1>

        <p>
            {{evento.descricao}}
        </p>

        <hr>

        <p><strong>Data:</strong> {{evento.data}}</p>
        <p><strong>Local:</strong> {{evento.local}}</p>
        <p><strong>Categoria:</strong> {{evento.categoria}}</p>
        <p><strong>Participantes:</strong> {{evento.quantidade_participantes}}</p>

        <div class="botoes">
            <a href="{{url_for('evento.editar', id=evento.id_evento)}}" class="botao">Editar</a>

            <form action="{{url_for('evento.deletar', id=evento.id_evento)}}" method="post">
                <button class="botao excluir" onclick="excluir()">
                    Excluir
                </button>
            </form>
        </div>

    </article>

{% endblock conteudo %}