{% extends "base.html" %}

{% block tilte %}Eventos+ | Editar{% endblock tilte %}

{% block conteudo %}

    <h1>Editar evento</h1>
    <p class="subtitulo">Altere os dados do evento.</p>

    <form action="{{url_for('evento.editar', id=evento.id_evento)}}" method="post" onsubmit="editar(event)">

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{evento.nome}}" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4"
            required>{{evento.descricao}}</textarea>

        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="{{evento.data}}" required>

        <label for="local">Local:</label>
        <input type="text" id="local" name="local" value="{{evento.local}}" required>

        <label for="categoria">Categoria:</label>
        <select id="categoria" name="categoria" value="{{evento.categoria}}" required>
            <option selected>Workshop</option>
            <option>Palestra</option>
            <option>Curso</option>
            <option>Conferência</option>
            <option>Feira</option>
            <option>Festival</option>
            <option>Outro</option>
        </select>

        <label for="participantes">Participantes:</label>
        <input type="number" id="participantes" name="participantes" value="{{evento.quantidade_participantes}}" min="1" required>

        <div class="botoes">
            <a href="{{url_for('evento.detalhe', id=evento.id_evento)}}" class="botao cancelar">Cancelar</a>
            <button type="submit" class="botao">Salvar</button>
        </div>

    </form>

{% endblock conteudo %}