{% extends "base.html" %}

{% block title %}Eventos+ | Inicio{% endblock title %}

{% block conteudo %}

    <section class="inicio">
        <h1>Sistema de Eventos</h1>
        <p>Cadastre e consulte seus eventos de forma simples.</p>

        <a href="{{url_for('evento.eventos')}}" class="botao">Ver eventos</a>
    </section>

    <section>
        <h2>Próximos eventos</h2>

        <div class="lista">

            <article class="evento">
                <h3>Workshop de Tecnologia</h3>
                <p>📅 20/09/2026</p>
                <p>📍 Senhor do Bonfim - BA</p>
                <a href="#">Ver detalhes</a>
            </article>

            <article class="evento">
                <h3>Tecnologia e Inovação</h3>
                <p>📅 25/09/2026</p>
                <p>📍 Juazeiro - BA</p>
                <a href="#">Ver detalhes</a>
            </article>

        </div>
    </section>

{% endblock conteudo %}